@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('dist/fonts/glyphicons-halflings-regular.eot');
  src: url('dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('dist/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}

img {
  overflow:hidden;
}

html,
body{
  margin: 0px;
  overflow: none;
  background-color: #0d0d0d;
  color: #fff;
  z-index: -1;
}

.padding {
  margin: 0 !important;
  padding: 0 !important;
}

.margin {
  margin: 0 !important;
}

.hidden {
  display: none;
}

.copy-code-button button {
	padding: 10px;
	background: #5784f5;
	color: #fff;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}