.logo-text {
    font-size: 2vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #fff;
  }
  
  .logo-normaltext {
    padding: 0;
  }
  
  .logo-smalltext {
    color: #fff;
    background: #d80000;
    padding: 0 5px;
  }
  
  /* MENU - Links */
  nav {
      font-family: 'Lato', sans-serif;
      text-align: right;
      padding-top: 10px;
      padding-right: 30px;
  }
  
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  nav li {
      padding: 20px;
      margin-left: -3px;
  }
  
  nav li:hover {
      background-color: #d80000;
      border-bottom: 1px solid #d80000;
  }
  
  nav .active {
      background-color: #d80000;
      border-bottom: 1px solid #d80000;
  }
  
  .navbar {
    color: #fff !important;
  }
  
  .navbar-toggler {
    color: #ffffff !important;
  }
  
  .show .nav-item {
    text-align: center !important;
  }
  
  .show .navlink {
      padding: 0 !important;
      margin-left: 0 !important;
  }
  
  .show .me-4 {
      margin-right: 0 !important;
  }
  
  .bi .bi-list {
      color: #ffffff;
  }